@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --color-bg-main: #121212;
  --color-bg-primary: rgb(39 39 42);
  --color-bg-secondary: rgb(24 24 27);
  --color-border: rgba(255, 255, 255, 0.12);
  --color-text: #fff;
  --color-subtext: rgba(255, 255, 255, 0.7);
}
